.loading-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: black;
    padding-top: 3rem;
}

.loading-container * {
    height: 100%;
}


h1 {
    text-align: center;
}

.loader {
    border: 0.9rem solid #fafaf4;
    border-radius: 50%;
    border-top: 0.9rem solid #696969;
    width: 9rem;
    height: 9rem;
    margin-top: 10rem;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
